body{
    margin : 0 ;
    padding: 0;
    background-color:purple;
}
form{
    width:60%;
    margin: 0 auto;
    display:flex;  
    justify-content: center;
    flex-direction: column;
}

label{
    font-weight: bold;;
    text-align: center;
    color:white;
    font-size: 2em;
}

.boton{
   /* background-color:yellow;*/
    width: 20%;
    margin: 0 auto;
}

.res{
    color:white;
    font-size: 2em;
}
